.rightbar {
    flex: 3;

    &__wrapper {
        padding: 20px 20px 0 0;
    }

    &__birthday {
        display: flex;
        align-items: center;

        &-img {
            width: 40px;
            height: 40px;
            margin-left: 10px;
        }

        &-text {
            font-size: 15px;
            font-weight: 300;
        }
    }

    &__ad {
        width: 100%;
        border-radius: 10px;
        margin: 30px;
    }
    &__title {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 500;
    }

    &-friend {
        &__list {
            padding: 0;
            margin: 0;
            list-style: none;
        }
    }
    &__info {
        margin-bottom: 30px;
        &-item {
            margin-bottom: 10px;
        }
        &-key {
            font-weight: 500;
            margin-right: 15px;
            columns: #555;
        }
        &-value {
            font-weight: 300;
        }
    }
    &__followings {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }
    &__following {
        display: flex;
        flex-direction: column;
    
        cursor: pointer;
        &-img {
            width: 75px;
            height: 75px;
            object-fit: cover;
            border-radius: 5px;
        }
        &-name{
            font-size: 12px;
        }
    }
}
